@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
	@apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

input[type='file'] {
	font-weight: 400;
  }

  #toolbar {
    align-items: center;
    background-color: var(--viewer-pdf-toolbar-background-color);
    color: #fff;
    display: flex;
    height: var(--viewer-pdf-toolbar-height);
    padding: 0 16px;
    display: none;
}

#ObJ{
	display: none;

};
